@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>
</head>
<body>
    <div style="width:100%;background:#808080;height:40px;text-align:center;padding:20px">
        <h1 style="margin:0px">
            Kitapçı.COM - Kitap Alım Satım Sitesi
        </h1>
    </div>
    <div style="width:20%;background:#ffd800;height:700px;float:left">
        <ul style="margin-top:0px">
            <li><a href="index7">Ana Sayfa</a></li>
            <li><a href="index8">Kitaplar</a></li>
            <li>Test Kitapları</li>
            <li>Öykü Kitapları</li>
            <li>Roman Kitapları</li>
            <li>Hikaye Kitapları</li>
            <li>Çıkış</li>
        </ul>
    </div>
    <div style="width:80%;background:#eee;height:700px;float:left">
        @RenderBody()
    </div> 
</body>
</html>
