@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>View Bag</title>
    </head>
    <body>
        @ViewBag.deg1
        <br />
        @ViewBag.deg2
    </body>
</html>
