
@{
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        @{
            var deger = "<b>Serhat YILDIZ</b>";
        }

        @Html.Raw(deger)
    </body>
</html>
