@model Proje1.Models.departmanlar

@{
    ViewData["Title"] = "GuncelleDepartman";
    Layout = "~/Views/Depart/Index.cshtml";
}

<h2>Departman Güncelleme</h2>

@using (Html.BeginForm("DepartmanGuncelle", "Depart", FormMethod.Post))
{

    <b>Departman ID</b>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })

    <b>Detay</b>
    @Html.TextBoxFor(x => x.Detay, new { @class = "form-control" })



    <button class="btn btn-warning">Departman Güncelle</button>
}
